{% extends './base.html' %}

{% block title %} index {% endblock %}

{% block body %}
<main class="main-container espacio_top" role="main">
         
      
    <div class="container container-main" >
        
  
      <!-- Menu - Side Bar -->
      
  
      <!-- Contenido - Container -->
      <div class="container-fluid container-contenido">
        
          <div class="container">


    <div  class="container"  style="margin-top: 50px;">
        <div class="panel-ejemplo col-md-12">
            <!---->
            <div  class="row ng-star-inserted" style="margin-bottom: 50px;">
                <!---->
                
              <div class="col-md-3 col-sm-6 shortcut ng-star-inserted">
                    <span _ngcontent-c6="" class="bg-success-lt">
                        <span _ngcontent-c6="" class="glyphicon glyphicon-list-alt"></span>
                    </span>
                    <h2>Titulo</h2>
                    <a href="/tablas">Tabla</a><br/>
                  <a href="consulta_lotes.html"> Item 2</a>
                </div>
                <div class="col-md-3 col-sm-6  shortcut ng-star-inserted" href="proceso.html">
                    <span _ngcontent-c6="" class="bg-info-lt">
                        <span _ngcontent-c6="" class=" 	glyphicon glyphicon-list">
                        </span>
                    </span>
                    <h2 _ngcontent-c6="">Titulo</h2>
                    <a href="edicion_plantilla.html">Item 1</a><br/>
                    <a href="buscador.html">Item 2</a><br/>
                    <a href="tabla_recibos.html">Item 3</a>
                </div>
                <div class="col-md-3 col-sm-6  shortcut ng-star-inserted" href="indexbaset.html">
                    <span _ngcontent-c6="" class="bg-primary-lt">
                        <span _ngcontent-c6="" class="glyphicon glyphicon-user"></span>
                    </span>
                    <h2 _ngcontent-c6="">Titulo</h2>
                    <a href="ABM_usuarios.html">Item 1</a><br/>
                    <a href="grupos.html">Item 2</a><br/>
                </div>
                
                <div class="col-md-3 col-sm-6  shortcut ng-star-inserted" href="indexbaset.html">
                    <span _ngcontent-c6="" class="bg-primary-lt">
                        <span _ngcontent-c6="" class="glyphicon glyphicon-user"></span>
                    </span>
                    <h2 _ngcontent-c6="">Titulo</h2>
                    <a href="ABM_usuarios.html">Item 1</a><br/>
                    <a href="grupos.html">Item 2</a><br/>
                </div>
                
                
            </div>
            
        </div>
    </div>

      
        
      
      
    
</div>		
            
      </div>
</div>
  </main>
{% endblock %}
